{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{{ attach_library('bootstrap_barrio/form') }}
<form{{ attributes }}>
  <div class="heading-small">{% trans %}Meld je aan met je {% endtrans %} <span class="stripes-top-right">account</span></div>
  {#<button class="toggle-dashboard-menu" type="button">
    <img src="/themes/custom/biodiv/images/arrow-white-left-svg" alt="Arrow">
  </button>#}
  {{ children }}
  <div>
    <a href="/user/password">{% trans %}Wachtwoord vergeten ? Klik hier{% endtrans %}</a>
  </div>
  <div class="heading-small heading-bottom">{% trans %}Nog geen account ?{% endtrans %}</div>
  <div class="d-flex align-items-center">
    <img src="/themes/custom/biodiv/images/user.svg" alt="">
    <a class="link_underline" href="/user-registration">Maak een account aan</a>
  </div>
</form>
