{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{{ attach_library('bootstrap_barrio/form') }}
<form{{ attributes }}>
  <button class="toggle-dashboard-menu" type="button">
    <img src="/themes/custom/biodiv/images/arrow-white-left-svg" alt="Arrow">
  </button>
  {{ children }}
</form>
