.btn-green, .btn-dark-green {
  margin: 0 auto;
  width: 194px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10px;
    z-index: -1;
  }
}

.btn-dark-green {
  color: white;
  &:after {
    background-image: url(/themes/custom/biodiv/images/btn-dark-green.svg);
  }
}

.btn-green {
  color: $sherpa-blue;
  &:after {
    background-image: url(/themes/custom/biodiv/images/btn-green.svg);
  }
}
