.padding-lg {
  padding: 48px 99px;
}

.rounded-card {
  border-radius: 50px;
}

.padding-73-64 {
  padding: 73px 64px;
}

.padding-50-0 {
  padding: 50px 0;
}

.stripes-top-left, .stripes-bottom-right, .stripes-top-right, .stripes-bottom-left {
  position: relative;
}

.stripes-top-left:before, .stripes-bottom-right:after, .stripes-top-right:before, .stripes-bottom-left:after {
  content: "";
  width: 57px;
  height: 57px;
  position: absolute;
  background-size: cover;
}

.stripes-top-left {
  &:before {
    background-image: url(/themes/custom/biodiv/images/icons/3-stripes-top-left.svg);
    top: -37px;
    left: -37px;
  }
}

.stripes-top-right {
  &:before {
    background-image: url(/themes/custom/biodiv/images/icons/3-stripes-top-right.svg);
    top: -37px;
    right: -37px;
  }
}

.stripes-bottom-left {
  &:after {
    background-image: url(/themes/custom/biodiv/images/icons/3-stripes-bottom-left.svg);
    position: absolute;
    bottom: -37px;
    left: -37px;
  }
}

.stripes-bottom-right {
  &:after {
    background-image: url(/themes/custom/biodiv/images/icons/3-stripes-bottom-right.svg);
    position: absolute;
    bottom: -37px;
    right: -37px;
  }
}

.pull-img-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100px;
}
