.bottom-figures {
  padding-left: 105px;
  padding-right: 64px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /*box-shadow: 0px 26px 24px rgb(0 23 30);*/
  background-color: rgba(255,255,255, 1);
  padding-bottom: 135px;
  .d-md-flex {
    position: relative;
  }
  .figure-left, .figure-right {
    position: absolute;
  }
  .figure-left {
    top: 0;
    left: 0;
  }
  .figure-right {
    top: 0;
    right: 0;
  }
}

footer {
  &.site-footer {
    background-color: $dark-blue!important;
    padding-top: 150px;
    padding-bottom: 50px;
    color: white;
    img {
      border-radius: 8px;
    }
    a {
      color: $tea-green;
    }
    .col-right {
      display: flex;
      justify-content: flex-end;
    }
    .menu--footer {
      ul {
        &.navbar-nav {
          li {
            a {
              &.nav-link {
                color: white;
                font-size: 16px;
                font-weight: 700;
                text-align: left;
                padding: 0;
                margin-bottom: 30px;

              }
            }
          }
        }
      }
    }
  }
}
