#header {
  #navbar-main {
    padding-top: 30px;
  }
}

#block-menutopright {
  ul {
    &.nav {
      li {
        a {
          color: $sherpa-blue;
          font-size: 13px;
          font-weight: 500;
          font-style: normal;
          letter-spacing: 0px;
          text-align: left;
          line-height: 20px;
        }
      }
    }
  }
}

.menu--main {
  ul {
    &.navbar-nav {
      li {
        a {
          color: $sherpa-blue;
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          letter-spacing: 0.4px;
          text-align: left;
          line-height: 33px;
          &.nav-link.active {
            font-weight: 700;
          }
          &:hover {
            color: $caribbean-green;
          }
        }
      }
    }
  }
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  &.active {
    color: $caribbean-green;
  }
  + .breadcrumb-item {
    padding-left: 5px;
    &:before {
      display: block;
      content: ">";
      -webkit-background-size: contain;
      background-size: contain;
      color: $caribbean-green;
    }
  }
}

.block-system-breadcrumb-block {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  .content {
    padding-left: 40px;
    padding-right: 40px;
  }
    nav {
    li {
      a {
        color: $caribbean-green;
      }
    }
  }
}
