#header {
  #navbar-main {
    padding-top: 30px;
  }
}

#block-menutopright {
  ul {
    &.nav {
      li {
        a {
          color: $sherpa-blue;
          font-size: 13px;
          font-weight: 500;
          font-style: normal;
          letter-spacing: 0px;
          text-align: left;
          line-height: 20px;
        }
      }
    }
  }
}

.menu--main {
  ul {
    &.navbar-nav {
      li {
        a {
          color: $sherpa-blue;
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          letter-spacing: 0.4px;
          text-align: left;
          line-height: 33px;
          &.nav-link.active {
            font-weight: 700;
          }
          a:hover {
            color: $caribbean-green;
          }
        }
      }
    }
  }
}
