.path-frontpage {
  #header {
    background-size: cover;
    background-repeat: no-repeat;
    .banner {
      color: $sherpa-blue;
      padding-top: 140px;
      padding-bottom: 140px;
      h1 {
        padding-bottom: 50px;
      }
      p {
        opacity: 0.8;
        color: rgba(0,70,89,1);
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        line-height: 39px;
      }
      a.btn-dark-green {
        opacity: 1;
        color: rgba(255,255,255,1);
        font-size: 19px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        line-height: 85px;
        text-decoration: none;
      }
    }
  }
}

.path-user {
  .block-system-main-block {
    padding-left: 12px;
    padding-right: 12px;
  }
}

body.path-frontpage {
  .block-system-main-block {
    padding-top: 50px;
  }
}


html.user_login, html.user_registration, body.page-user-login, body.page-user-registration {
  height: 100%;
}


.page-user-login, .page-user-registration {
  .dialog-off-canvas-main-canvas, #page-wrapper,
  #page, #main-wrapper, #main, .row-offcanvas,
  main#content, section.section, .block-system-main-block,
  .content {
    height: 100%;
  }
  .img-leaf-1, .img-leaf-2, .img-bird, .img-leaf-3, .img-leaf-4, .img-bird-2, .img-bird-3, .img-leaf-5 {
    position: absolute;
  }
  .img-leaf-1, .img-leaf-2, .img-bird, .img-leaf-3, .img-leaf-4 {
    left: 0;
  }
  .img-bird-3, .img-leaf-5 {
    right: 0;
  }
  .img-leaf-1 {
    position: absolute;
    top: 0;
  }
  .img-leaf-2 {
    /*top: 150px;*/
    top: 12%;
  }
  .img-bird {
    /*top: 409px;*/
    top: 32.5%;
  }
  .img-leaf-3 {
    /*top: 473px;*/
    top: 38%;
  }
  .img-leaf-4 {
    /*top: 918px;*/
    bottom: 0;
  }
  .img-bird-2 {
    /*top: 268px;*/
    top: 21%;
    /*left: 247px;*/
    left: 48%;
  }
  .img-bird-3 {
    /*top: 710px;*/
    top: 57%;
    right: -30px;
  }
  .img-leaf-5 {
    /*top: 881px;*/
    bottom: 0;
  }
  .link-back {
    margin-left: 75px;
    margin-top: 81px;
    display: inline-block;
    img {
      padding-right: 13px;
    }
  }
}

.page-user-registration .dialog-off-canvas-main-canvas, .page-user-registration #page-wrapper,
.page-user-registration #page, .page-user-registration #main-wrapper, .page-user-registration #main, .page-user-registration .row-offcanvas,
.page-user-registration main#content, .page-user-registration section.section, .page-user-registration .block-system-main-block,
.page-user-registration .content {
  height: 100%;
}

body.page-user-login, body.page-user-registration {
  background-color: #00394a;
  .block-system-main-block {
    padding-left: 0;
    padding-right: 0;
    width: 70%;
  }
}

.page-user-login, .page-user-registration {
  background: url(/themes/custom/biodiv/images/dashboard-leaves.svg), linear-gradient(45deg, #00394a, #00394a) no-repeat;
  background-size: contain;
}

.page-user-login form#user-login-form, .page-user-registration form {
    padding: 200px;
    /*width: 70%;*/
    margin-left: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
    .heading-small {
      margin-bottom: 24px;
      &.heading-bottom {
        margin-top: 60px;
      }
    }
    input {
      border-radius: 15px;
      padding: 15px;
    }
    button.btn-primary {
      background-color: $primary-shade;
      border-color: $primary-shade;
      border-radius: 15px;
      padding: 12px 50px;
      font-weight: 700;
      font-size: 16px;
      line-height: 31px;
    }
    label, small {
      display: none;
    }
    input {
      border-color: #F9DAB7;
      background-color: $linen;
    }
}
