.path-frontpage {
  #header {
    background-size: cover;
    background-repeat: no-repeat;
    .banner {
      color: $sherpa-blue;
      padding-top: 140px;
      padding-bottom: 140px;
      h1 {
        padding-bottom: 50px;
      }
      p {
        opacity: 0.8;
        color: rgba(0,70,89,1);
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        line-height: 39px;
      }
      a.btn-dark-green {
        opacity: 1;
        color: rgba(255,255,255,1);
        font-size: 19px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        line-height: 85px;
        text-decoration: none;
      }
    }
  }
}

.path-user {
  .block-system-main-block {
    padding-left: 12px;
    padding-right: 12px;
  }
}

body.path-frontpage {
  .block-system-main-block {
    padding-top: 50px;
  }
}


html.user_login, body.page-user-login, .page-user-login .dialog-off-canvas-main-canvas, .page-user-login #page-wrapper,
.page-user-login #page, .page-user-login #main-wrapper, .page-user-login #main, .page-user-login .row-offcanvas,
.page-user-login main#content, .page-user-login section.section, .page-user-login .block-system-main-block,
.page-user-login .content {
  height: 100%;
}

body.page-user-login {
  background: $dark-blue;
  .block-system-main-block {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-user-login {
  background-image: url('/themes/custom/biodiv/images/dashboard-leaves.svg');
  background-size: cover;
  form#user-login-form {
    padding: 200px;
    width: 70%;
    margin-left: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
    .toggle-dashboard-menu {
      position: absolute;
      top: 50px;
      left: 0;
      background: $dark-blue;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      width: 30px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input {
      border-color: #F9DAB7;
      background-color: $linen;
    }
  }

}
