.path-frontpage {
  #header {
    background-size: cover;
    background-repeat: no-repeat;
    .banner {
      color: $sherpa-blue;
      padding-top: 140px;
      padding-bottom: 140px;
      h1 {
        padding-bottom: 50px;
      }
      p {
        opacity: 0.8;
        color: rgba(0,70,89,1);
        font-size: 24px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        line-height: 39px;
      }
      a.btn-dark-green {
        opacity: 1;
        color: rgba(255,255,255,1);
        font-size: 19px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        line-height: 85px;
        text-decoration: none;
      }
    }
  }
}

.path-user {
  .block-system-main-block {
    padding-left: 12px;
    padding-right: 12px;
  }
}

body.path-frontpage {
  .block-system-main-block {
    padding-top: 50px;
  }
}


html.user_login, body.page-user-login, .page-user-login .dialog-off-canvas-main-canvas, .page-user-login #page-wrapper,
.page-user-login #page, .page-user-login #main-wrapper, .page-user-login #main, .page-user-login .row-offcanvas,
.page-user-login main#content, .page-user-login section.section, .page-user-login .block-system-main-block,
.page-user-login .content {
  height: 100%;
}

body.page-user-login, body.page-user-registration {
  background-color: #00394a;
  .block-system-main-block {
    padding-left: 0;
    padding-right: 0;
    width: 70%;
  }
}

.page-user-login, .body.page-user-registration {
  background: url(/themes/custom/biodiv/images/dashboard-leaves.svg), linear-gradient(45deg, #00394a, #00394a) no-repeat;
  background-size: contain;
  form#user-login-form {
    padding: 200px;
    /*width: 70%;*/
    margin-left: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
    .heading-small {
      margin-bottom: 24px;
      &.heading-bottom {
        margin-top: 60px;
      }
    }
    input {
      border-radius: 15px;
      padding: 15px;
    }
    button.btn-primary {
      background-color: $primary-shade;
      border-color: $primary-shade;
      border-radius: 15px;
      padding: 12px 50px;
      font-weight: 700;
      font-size: 16px;
      line-height: 31px;
    }
    label, small {
      display: none;
    }
    input {
      border-color: #F9DAB7;
      background-color: $linen;
    }
  }
}
