.paragraph {
  margin-bottom: 50px;
}

.paragraph--type--quote {
  padding: 60px;
  border-radius: 50px;
  q {
    &:before, &:after {
      content: none;
    }
  }
  .field--name-field-text {
    color: $sherpa-blue;
    font-size: 28px;
  }
  .field--name-field-author {
    font-size: 19px;
  }
}
