#block-biodiv-content a.link_underline {
  color: #004659 !important;
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  font-weight: bold;
}
#block-biodiv-content a.link_underline:hover {
  text-decoration: none;
}
#block-biodiv-content a.link_underline::after {
  background: url("/themes/custom/biodiv/images/arrow.svg");
  background-repeat: no-repeat;
  display: block;
  width: 10px;
  height: 15px;
  margin-left: 5px;
  margin-top: 4px;
  content: "";
}
#block-biodiv-content a.link_underline::before {
  width: 100%;
  height: 1px;
  background: #00BFA8;
  content: "";
  position: absolute;
  bottom: 1px;
}
.scribble-blue {
  /*display: flex;
  flex-direction: column;*/
  display: inline-block;
}
.scribble-blue::after {
  width: 100%;
  height: 16px;
  background: url("/themes/custom/biodiv/images/scribble-blue.png");
  content: "";
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 40px;
  background-size: contain;
}
//.three-stripes-top {
//  position: relative;
//}
//.three-stripes-top::before {
//  width: 80px;
//  height: 80px;
//  background: url("/themes/custom/biodiv/images/three-stripes-top.png");
//  content: "";
//  background-repeat: no-repeat;
//  position: absolute;
//  left: -35px;
//  top: -30px;
//}
.line-blue {
  position: relative;
}
.line-blue::after {
  width: 100%;
  height: 16px;
  background: url("/themes/custom/biodiv/images/line-blue.png");
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}
.paragraph--type--slider-video-cards .slider .slick-slide {
  /*max-width: 374px;*/
  /*margin: 0 10px;*/
  background: #FCF4EB;
  border-radius: 50px;
  padding: 36px 36px 0 36px;
}
.paragraph--type--slider-video-cards .slider .slick-slide .field--name-field-title {
  font-size: 28px;
  color: #004659;
  font-weight: bold;
}

.paragraph ul{
  list-style: none;
}

.list-green li::before {
  content: "";
  background: url("/themes/custom/biodiv/images/list.png");
  height: 20px;
  width: 22px;
  position: absolute;
  left: -32px;
  bottom: 6px;
}

.list-green li {
  position: relative;
  margin-left: 20px;
}

