#block-biodiv-content a {
  color: #004659 !important;
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
}

#block-biodiv-content a::after {
  background: url("/themes/custom/biodiv/images/arrow.svg");
  display: block;
  width: 6px;
  height: 9px;
  margin-left: 5px;
  margin-top: 4px;
  content: "";
}

#block-biodiv-content a::before {
  width: 100%;
  height: 1px;
  background: #00BFA8;
  content: "";
  position: absolute;
  bottom: 1px;
}

.scribble-blue {
  display: flex;
  flex-direction: column;
}

.scribble-blue::after {
  width: 100%;
  height: 16px;
  background: url("/themes/custom/biodiv/images/scribble-blue.png");
  content: "";
  background-repeat: no-repeat;
}

.three-stripes-top {
  position: relative;
}

.three-stripes-top::before {
  width: 100%;
  height: 16px;
  background: url("/themes/custom/biodiv/images/three-stripes-top.png");
  content: "";
  background-repeat: no-repeat;
  position: absolute;
}

.line-blue {
  position: relative;
}

.line-blue::after {
  width: 100%;
  height: 16px;
  background: url("/themes/custom/biodiv/images/line-blue.png");
  content: "";
  background-repeat: no-repeat;
  position: absolute;
}