#block-biodiv-content a {
  color: #004659 !important;
  text-decoration: underline;
  text-decoration-color: #00BFA8;
  display: flex;
  align-items: center;
}

#block-biodiv-content a::after {
  background: url("/themes/custom/biodiv/images/arrow.svg");
  display: block;
  width: 6px;
  height: 9px;
  margin-left: 5px;
  margin-top: 4px;
  content: "";
}