.slider {
  .field--name-field-title {
    margin-bottom: 19px;
    line-height: 38px;
  }
  .field--name-field-wysiwyg {
    margin-bottom: 40px;
  }
}

.slick-btn-wrapper {
  padding-right: 160px;
  padding-bottom: 28px;
  button {
    &:first-child {
      img {
        margin-right: 25px;
      }
    }
    img {
      width: 64px;
    }
  }
}
