.slider {
  .field--name-field-title {
    margin-bottom: 19px;
  }
  .field--name-field-wysiwyg {
    margin-bottom: 40px;
  }
  .slick-btn-wrapper {
    padding-right: 160px;
    padding-bottom: 28px;
    button {
      border: none;
      background: transparent;
      &:first-child {
        img {
          margin-right: 25px;
        }
      }
      img {
        width: 64px;
      }
    }
  }
}

