.subject-item {
  margin-bottom: 24px;
  .card-wrap {
    position: relative;
    height: 100%;
    background-color: $linen;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    &:hover {
      h3 {
        a {
          color: $caribbean-green;
        }
      }
      img:not(.icon-eco) {
        transform: scale(1.125);
      }
    }
    img {
      transition: .25s all ease;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      max-width: 100%;
      height: auto;
    }
    h3 {
      font-size: 26px;
      line-height: 35px;
      font-weight: bold;
      margin-bottom: 16px;
      a {
        color: $primary-shade;
        transition: .25s all ease;
        text-decoration: none;
        &:after {
          bottom: 0;
          content: '';
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1;
        }
      }
    }
    p {
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
    }
  }
  .text-wrapper-top {
    padding: 40px 40px 0 40px;
  }
  .text-wrapper {
    padding: 0 40px 40px 40px;
  }
  .subject-info {
    padding-left: 12px;
    font-size: 16px;
    line-height: 22px;
  }
  &.item-featured {
    .top-section {
      &.text-wrapper {
        padding: 40px;
      }
    }
    .bottom-section {
      .text-wrapper {
        padding-top: 0;
      }
    }
    img {
      border-radius: 0 0 50px 50px;
    }
  }
}

.view-display-id-block_1 {
  .row {
    .subject-item {
      &.card-decoration {
        .bg-decoration {
          position: relative;
          &:after {
            width: calc(100% + 8px);
            height: calc(100% - 30px);
            border-radius: 50px;
            transform: rotate(3deg);
            margin: 0 auto;
            position: absolute;
            top: 20px;
            right: -5px;
            content: '';
            display: block;
            background: #BEE3D5;
            z-index: -1;
          }
        }
        .card-wrap {
          background: $white-ice;
          h3 {
            a {
              &:after {
                z-index: 0;
              }
            }
          }
        }
      }
    }
  }
}
