/* TYPOGRAPHY */


/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700;800&display=swap');

@font-face {
  font-family: 'Metropolis Regular';
  src: url('../fonts/Metropolis/Metropolis-Regular/Metropolis-Regular.eot');
  src: url('../fonts/Metropolis/Metropolis-Regular/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Metropolis/Metropolis-Regular/Metropolis-Regular.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-Regular/Metropolis-Regular.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-Regular/Metropolis-Regular.ttf') format('truetype'),
  url('../fonts/Metropolis/Metropolis-Regular/Metropolis-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'Metropolis SemiBold';
  src: url('../fonts/Metropolis/Metropolis-SemiBold/Metropolis-SemiBold.eot');
  src: url('../fonts/Metropolis/Metropolis-SemiBold/Metropolis-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Metropolis/Metropolis-SemiBold/Metropolis-SemiBold.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-SemiBold/Metropolis-SemiBold.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-SemiBold/Metropolis-SemiBold.ttf') format('truetype'),
  url('../fonts/Metropolis/Metropolis-SemiBold/Metropolis-SemiBold.svg#Montserrat-Regular') format('svg');
  font-weight: 600;
}

//@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
//@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900");
// font families
$font-lato: 'Lato',
Arial,
Verdana,
sans-serif;
$font-raleway: 'Raleway',
Arial,
Verdana,
sans-serif;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;
$font-family-base: "Plus Jakarta Sans", $font-family-sans-serif;
$font-size-base: 1.19rem; // 19px
$font-size-lg: $font-size-base * 4.42;
$font-size-sm: $font-size-base * 0.84;
$font-size-xs: $font-size-base * 0.68;
$font-weight-normal: 300;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.74;
$h1-font-size: $font-size-base * 4.42;
$h2-font-size: $font-size-base * 3.68;
$h3-font-size: $font-size-base * 2.74;
$h4-font-size: $font-size-base * 2;
$h5-font-size: $font-size-base * 1.37;
$h6-font-size: $font-size-base * 1.11;

body {
  font-family: 'Calibri';
  color: $sherpa-blue !important;
  p {
    font-weight: 300;
    font-size: $font-size-base;
    line-height: 33px;
  }
  h1 {
    font-size: 84px;
    line-height: 92px;
    font-weight: 800;
  }
  h2 {
    font-size: 70px;
    line-height: 78px;
    font-weight: 700;
  }
  h3 {
    font-size: 52px;
    line-height: 60px;
    font-weight: 700;
  }
  h4 {
    font-size: 38px;
    line-height: 46px;
    font-weight: 800;
  }
  h5 {
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
  }
  h6 {
    font-size: 21px;
    line-height: 46px;
    font-weight: 700;
  }
}

p {
  &.font-12px,
  &.font-13px,
  &.font-16px,
  &.font-17px,
  &.font-19px,
  &.font-24px,
  &.font-26px,
  &.font-28px,
  &.font-32px,
  &.font-38px,
  &.font-52px,
  &.font-70px,
  &.font-84px {
    line-height: 1;
    font-weight: 400;
  }
  &.font-12px {
    font-size: 12px;
  }
  &.font-13px {
    font-size: 13px;
  }
  &.font-16px {
    font-size: 16px;
  }
  &.font-17px {
    font-size: 17px;
  }
  &.font-19px {
    font-size: 19px;
  }
  &.font-24px {
    font-size: 24px;
  }
  &.font-26px {
    font-size: 26px;
  }
  &.font-28px {
    font-size: 28px;
  }
  &.font-32px {
    font-size: 32px;
  }
  &.font-38px {
    font-size: 38px;
  }
  &.font-52px {
    font-size: 52px;
  }
  &.font-70px {
    font-size: 70px;
  }
  &.font-84px {
    font-size: 84px;
  }
}
