/* Paragraphs */
.paragraph--type--text-with-background-image {
    background-size: cover;
}

.paragraph--type--text-with-background-image.show-parallax {
    background-attachment: fixed;
}
.paragraph--type--text-with-background-image .col-text {
    max-width: 470px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.paragraph--type--text-with-background-image .col-text h1, .paragraph--type--text-with-background-image .col-text h2,
.paragraph--type--text-with-background-image .col-text h3, .paragraph--type--text-with-background-image .col-text h4, .paragraph--type--text-with-background-image .col-text h5,
.paragraph--type--text-with-background-image .col-text h6 {
    font-size: 52px;
    line-height: 60px;
}

.paragraph--type--text-with-background-image .col-text {
    max-width: 443px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.navbar-brand img {
    height: 125px;
}


/*
    container
*/

/*@media (min-width: 1440px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        max-width: 1440px;
    }
}*/
