.menu-dashboard {
  position: fixed;
  padding: 100px 20px;
  /*width: 270px;*/
  width: auto;
  min-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-left: -100%;
  &.active {
    margin-left: 0;
  }
  .user-picture {
    margin-right: 13px;
  }
  .user-info {
    margin-bottom: 70px;
    z-index: 1;
    position: relative;
    .user-name, .user-teaching-level {
      color: white;
    }
    .user-name {
      font-weight: 700;
      font-size: 16px;
      line-height: 33px;
    }
    .user-teaching-level {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      opacity: .6;
      letter-spacing: 0.2px;
    }
  }
  ul {
    display: block;
    li {
      &.menu-item--active-trail {
        a {
          color: #D4FFBB;
          background: #0d4353;
        }
      }
      a {
        border-radius: 13px;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
        &:hover {
          color: #D4FFBB;
        }
        &:before {
          content: '';
          display: block;
          background-position: center;
          margin-right: 30px;
        }
      }
      .nav-link--platform-dashboard {
        &:before {
          background-image: url(/themes/custom/biodivPlatform/images/icons/dashboard/dashboard.svg);
          width: 21px;
          height: 24px;
          background-size: 21px 24px;
        }
      }
      .nav-link--platform-mijn-klassen {
        &:before {
          background-image: url(/themes/custom/biodivPlatform/images/icons/dashboard/klassen.svg);
          width: 23px;
          height: 21px;
          background-size: 23px 21px;
        }
      }
      .nav-link--platform-lesmodules {
        &:before {
          background-image: url(/themes/custom/biodivPlatform/images/icons/dashboard/klassen.svg);
          width: 23px;
          height: 21px;
          background-size: 23px 21px;
        }
      }
      .nav-link--platform-instellingen {
        &:before {
          background-image: url(/themes/custom/biodivPlatform/images/icons/dashboard/instellingen.svg);
          width: 24px;
          height: 24px;
          background-size: 24px 24px;
        }
      }
    }
  }
  ul li a, .link-user-logout {
    color: white;
    font-size: 0.9375rem;
    line-height: 2.0625rem;
    font-weight: 400;
    padding: 20px;
  }
}

.link-user-logout {
  margin-left: 55px;
}

/*.link-user-logout {
  position: absolute;
  bottom: 50px;
}*/
